@model IEnumerable<Course>

@{ ViewData["Title"] = "Course Information"; Layout = "Simple"; }

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista Parcial</strong>
<partial name="ListaObjectsSchoolSimple">

